$main-font		: 'Arimo', sans-serif;

$header-color	: #5a5a5a;
$header-border	: #a3c642;

$pod-border-color		: #435165;
$pod-title-bg-color		: #435165;
$pod-title-color		: white;
$pod-sub-title-color	: #363636;