@import 'variables';

.app {
    font-family: $main-font;
    padding: 0 5rem 3rem;
    width: 100%;

    /* main Thruline logo */
    .logo {
        display: inline-block;
        margin-top: -50px;
    }

    /* intro headline */
    header {
        color: $header-color;
        display: flex;
        flex-direction: column;
        font-size: calc(10px + 2vmin);
        padding: 0 10rem;

        h1 {
            font-size: 128%;
            position: relative;
        }

        h1:after {
            content: "";
            position: absolute;
            width: 13%;
            height: 3px;
            bottom: -.3rem;
            left: 0;
            border-bottom: 3px solid $header-border;
        }

        p {
            font-size: 70%;
            margin-top: 1rem;
        }
    }

    /* main content */
    .container-fluid {
        padding-left: 5rem;
        padding-right: 5rem;

        .bd {
            .row {
                padding: 0 5rem;

                /* link box pods */
                .LinkBox {
                    background: white;
                    border: 2px solid $pod-border-color;
                    border-radius: 5px;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;

                    h2 {
                        background: $pod-title-bg-color;
                        color: $pod-title-color;
                        font-size: 128%;
                        margin: 0;
                        padding: .5rem 0;
                        text-align: center;
                        text-transform: uppercase;
                    }

                    .sub-title {
                        color: $pod-sub-title-color;
                        font-size: 182%;
                        font-weight: 600;
                        line-height: 3rem;
                        margin: 0;
                        text-align: center;
                        text-transform: uppercase;
                    }

                    hr {
                        height: 1px;
                        margin-top: 0;
                    }

                    h3 {
                        font-size: 94%;
                        font-weight: 600;
                    }

                    p:not(.sub-title) {
                        font-size: 76%;
                        line-height: 1.2rem;
                        margin-bottom: .25rem;
                    }

                    a, a:hover, a:active, a:visited {
                        font-size: 88%;
                        text-decoration: underline;
                    }

                    .col-md-12 {
                        padding-bottom: 2rem;
                    }

                }
            }

            /* background behind pods */
            .row:nth-child(odd) {
                background-image: linear-gradient(to bottom, white 0%, white 50%, #e0e0e0 50%, #e0e0e0 100%);
            }

            .row:nth-child(even) {
                background-image: linear-gradient(to bottom, #e0e0e0 0%, #e0e0e0 60%, white 60%, white 100%);
                background-position: 0 -1rem;
                background-repeat: no-repeat;
            }

            /* misc helper styles */
            .row + .row {
                padding-top: 1rem;
            }
        }
    }
}

/* tablet styles */
@media only screen and (max-width :1024px)  {
    .app {
        padding: 0 2rem 3rem;

        header {
            font-size: calc(10px + 1.5vmin);
            padding: 0 5rem;

            h1:after {
                width: 20%;
            }
        }

        .container-fluid {
            padding-left: 2rem;
            padding-right: 2rem;

            .bd {
                .row {
                    padding: 0 2rem;
                }
            }
        }
    }
}

/* mobile styles */
@media only screen and (max-width: 600px) {
    .app {
        padding: 0 1rem 1rem;
        text-align: center;

        header {
            padding: 0 1rem;
            text-align: left;

            h1 {
                font-size: 124%;
            }

            h1:after {
                width: calc(100% * .3);
            }

            p {
                font-size: 86%;
                padding-right: 3%;
            }
        }

        .container-fluid {
            padding-left: 1rem;
            padding-right: 1rem;

            .bd {
                .row {
                    padding: 0;

                    .LinkBox {
                        text-align: left;
                    }
                }

                .row .col-md-6+.col-md-6 {
                    padding-top: 1rem;
                }

                /* background behind pods */
                .row:nth-child(odd) {
                    background-image: linear-gradient(to bottom, white 0%, white 25%, #e0e0e0 25%, #e0e0e0 100%);
                }

                .row:nth-child(even) {
                    background-image: linear-gradient(to bottom, #e0e0e0 0%, #e0e0e0 83%, white 83%, white 100%);
                }
            }
        }
    }
}