.app {
    font-family: 'Arimo', sans-serif;
    padding: 0 5rem 3rem;
    width: 100%;

    .logo {
        display: inline-block;
        margin-top: 0;
    }

    .header {
        color: #5a5a5a;
        display: flex;
        flex-direction: column;
        font-size: calc(10px + 2vmin);
        padding: 0 10rem;

        h1 {
            position: relative;
        }

        h1:after {
            content: "";
            position: absolute;
            width: 21%;
            height: 3px;
            bottom: -.3rem;
            left: 0;
            border-bottom: 3px solid #a3c642;
        }

        p {
            margin-top: 1rem;
        }
    }

    .container-fluid {
        padding-left: 5rem;
        padding-right: 5rem;

        .bd {
            .row {
                padding: 0 5rem;

                .LinkBox {
                    background: white;
                    border: 2px solid #435165;
                    border-radius: 5px;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;

                    h2 {
                        background: #435165;
                        color: white;
                        font-size: 1.75rem;
                        margin: 0;
                        padding: .5rem 0;
                        text-align: center;
                        text-transform: uppercase;
                    }

                    .sub-title {
                        color: #363636;
                        font-size: 2.5rem;
                        font-weight: 600;
                        margin: 0;
                        text-align: center;
                        text-transform: uppercase;
                    }

                    hr {
                        height: 1px;
                        margin-top: 0;
                    }

                    h3 {
                        font-size: 1.5rem;
                    }

                    p:not(sub-title) {
                        font-size: .75rem;
                        margin-bottom: .25rem;
                    }

                    a, a:hover {
                        text-decoration: underline;
                    }

                    .col-md-12 {
                        padding-bottom: 2rem;
                    }

                }
            }

            .row:nth-child(odd) {
                background-image: linear-gradient(to bottom, white 0%, white 50%, #e0e0e0 50%, #e0e0e0 100%);
            }

            .row:nth-child(even) {
                background-image: linear-gradient(to bottom, #e0e0e0 0%, #e0e0e0 60%, white 60%, white 100%);
                background-position: 0 -1rem;
                background-repeat: no-repeat;
            }

            .row + .row {
                padding-top: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 600px) {

    .app {
        padding: 0 1rem 1rem;
        text-align: center;

        .logo {
            margin-top: -50px;
        }

        .header {
            padding: 0 1rem;
            text-align: left;

            h1 {
                font-size: 1.75rem;
            }

            h1:after {
                width: 46%;
            }

            p {
                font-size: 1rem;
            }
        }

        .container-fluid {
            padding-left: 1rem;
            padding-right: 1rem;

            .bd {
                .row {
                    padding: 0;

                    .LinkBox {
                        text-align: left;
                    }
                }

                .row .col-md-6+.col-md-6 {
                    padding-top: 1rem;
                }

                .row:nth-child(odd) {
                    background-image: linear-gradient(to bottom, white 0%, white 25%, #e0e0e0 25%, #e0e0e0 100%);
                }

                .row:nth-child(even) {
                    background-image: linear-gradient(to bottom, #e0e0e0 0%, #e0e0e0 83%, white 83%, white 100%);
                }
            }
        }
    }
}